body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.file-upload {
    padding: 3% 3%;
    margin: 0 auto;
    border-radius: 10px;
    border: solid 1.5px #f6f7fa;
    background-color: #f6f7fa;
    opacity: 0.8;
}
.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1fb264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824b;
    transition: all 0.2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    background: #1aa059;
    color: #ffffff;
    transition: all 0.2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all 0.2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}
#loading {
    display: none;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    width: 60%;
    margin: 0 auto;
    position: relative;
    object-fit: contain;
    border-radius: 10px;
    border: dashed 1.5px #35465d;
    background-color: #ffffff;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #35465d82;
    border: 1.5px dashed #ffffff;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 500;
    text-transform: uppercase;
}

.file-upload-image {
    max-height: 60%;
    max-width: 60%;
    margin: auto;
    padding: 10px;
}

.try-again-btn {
    border-radius: 40px;
    border: solid 1.5px #35465d;
    background-color: #35465d;
}

.try-again-text {
    display: block;
    font-size: 1.5rem;
    text-align: center;
    color: #ffffff;
    padding: 4px 15px;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all 0.2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all 0.2s ease;
}

.navbar-light .navbar-brand {
    line-height: 1.68;
    text-align: left;
    color: #35465d;
}

.navbar-light .navbar-toggler {
    border-color: #ffffff;
}

.section {
    margin-top: 3rem;
}

.title {
    line-height: 1;
    text-align: center;
    color: #eb5757;
    font-size: 2.7rem;
    font-weight: bold;
}

.subtitle {
    line-height: 1.53;
    text-align: center;
    color: #ff6347;
    margin-bottom: 0.1rem;
}

.detailcontent {
    color: #35465d;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    html {
        font-size: 10px;
    }
    .navbar-brand {
        font-size: 1.4rem;
    }
}

.upload {
    width: 20%;
}

.upload-text {
    width: 58%;
    font-size: 1.5rem;
    line-height: 1.53;
    text-align: center;
    color: #35465d;
    margin: 0 auto;
}

.footer {
    background-color: initial;
    color: initial;
}

.bar-container {
    height: 2.7rem;
}
.blueSummer-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(27, 175, 234, 0.2);
}
.blueSummer-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(27, 175, 234, 1);
}
.yellowAutumn-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(251, 176, 59, 0.2);
}
.yellowAutumn-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(251, 176, 59, 1);
}
.blueWinter-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(49, 132, 155, 0.2);
}
.blueWinter-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(49, 132, 155, 1);
}
.yellowSpring-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(235, 166, 190, 0.2);
}
.yellowSpring-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(235, 166, 190, 1);
}
.percent-text {
    font-size: 1rem;
    color: #ffffff;
}
.ai-label {
    width: 20%;
    text-align: left;
    height: 2rem;
}
#label-container {
    width: 80%;
    margin: 0 auto;
}
.result-message {
    margin-top: 30px;
    font-size: 2rem;
}
.result-make-message {
    margin-top: 30px;
    font-size: 2rem;
    padding: 0.5em 1em;
    margin: 1em 0;
}
.result-title {
    font-size: 3rem;
}

.result-explain {
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: #35465d;
}
.result-celeb-explain {
    font-size: 1.5rem;
    color: #35465d;
}
.blueSummer-ai-title {
    color: #548dd4;
}
.blueSummer-ai-celeb {
    color: #548dd4;
    font-size: 1.2rem;
}
.yellowSpring-ai-title {
    color: #e56995;
}
.yellowSpring-ai-celeb {
    color: #e56995;
    font-size: 1.2rem;
}
.yellowAutumn-ai-title {
    color: #ff6c0a;
}
.yellowAutumn-ai-celeb {
    color: #ff6c0a;
    font-size: 1.2rem;
}
.blueWinter-ai-title {
    color: #31849b;
}
.blueWinter-ai-celeb {
    color: #31849b;
    font-size: 1.2rem;
}

/* gender */
input#gender {
    display: none;
}

label {
    cursor: pointer;
    display: inline-block;
    width: 90px;
    height: 41px;
    box-shadow: 0 0 0 8px #e5e9ea inset;
    border-radius: 30px;
    position: relative;
}

.knob {
    position: absolute;
    width: 41px;
    top: 0;
    left: 0;
    height: 41px;
    border-radius: 50%;
    box-shadow: 0 0 0 8px #f470a7 inset;
    background-color: #fbd4e6;
    transition: 0.3s;
}

.knob > i {
    position: absolute;
    width: 4px;
    height: 18px;
    top: 100%;
    background-color: #f470a7;
    left: calc(50% - 2px);
}

.knob > i:before,
.knob > i:after {
    width: 6px;
    position: absolute;
    top: 42%;
    content: '';
    height: 4px;
    background-color: #f470a7;
}

.knob > i:before {
    left: 4px;
}
.knob > i:after {
    left: -6px;
}

input:checked + label > .knob {
    box-shadow: 0 0 0 8px #a1c6dd inset;
    background-color: #e2ecf4;
    transform: translateX(49px) rotate(-140deg);
}

input:checked + label > .knob > i {
    background-color: #a1c6dd;
}

input:checked + label > .knob > i:after,
input:checked + label > .knob > i:before {
    background-color: #a1c6dd;
}

input:checked + label > .knob > i:after {
    top: 14.5px;
    width: 12px;
    left: -7px;
    transform: rotate(45deg);
}
input:checked + label > .knob > i:before {
    top: 13px;
    width: 12px;
    left: 0px;
    transform: rotate(134deg);
}

.ad-banner {
    max-width: 320px;
}
.resizeimage {
    text-align: center;
}
.resizeimage > img {
    max-width: 90%;
    height: auto;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 20px;
}
.example {
    width: 25%;
}

.reference {
    text-align: center;
    display: grid;
    margin-top: 5em;
}

.reference-title {
    margin-bottom: 1.5rem;
}

/*==================================================
スライダーのためのcss
===================================*/
/*==================================================
スライダーのためのcss
===================================*/
.slider {
    /*横幅94%で左右に余白を持たせて中央寄せ*/
    width: 94%;
    margin: 0 auto;
    padding-inline-start: 0rem;
}

.slider img {
    width: 100%; /*スライダー内の画像を横幅100%に*/
    height: auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
    margin: 0 1.3rem;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next {
    position: absolute; /*絶対配置にする*/
    top: 42%;
    cursor: pointer; /*マウスカーソルを指マークに*/
    outline: none; /*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666; /*矢印の色*/
    border-right: 2px solid #666; /*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {
    /*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {
    /*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align: center;
    margin: 5px 0 0 0;
    padding-inline-start: 0rem;
}

.slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

.slick-dots button {
    padding: 0;
    color: transparent;
    outline: none;
    width: 8px; /*ドットボタンのサイズ*/
    height: 8px; /*ドットボタンのサイズ*/
    display: block;
    border-radius: 50%;
    background: #ccc; /*ドットボタンの色*/
    border-style: none;
}

.slick-dots .slick-active button {
    background: #e2a2b1; /*ドットボタンの現在地表示の色*/
}
.example-wrap {
    font-size: 1.5rem;
    padding-top: 15px;
}
.menu-area {
    text-align: center;
    font-size: 1.1rem;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

table tr {
    border-bottom: solid 1px #ddd;
}

table th {
    font-size: 1.5rem;
    text-align: center;
    padding: 7px 0;
    border-right: solid 1px #ddd;
    border-left: solid 1px #ddd;
}

table th:nth-child(1) {
    background-color: #dddddd;
}

table th:nth-child(2) {
    background-color: #f5b932;
    color: white;
}

table tr:nth-child(2) td {
    font-size: 1.5rem;
}

table th:nth-child(3) {
    background-color: #f34955;
    color: white;
}

table tr:nth-child(3) td {
    font-size: 1.5rem;
}

table tr:nth-child(4) td {
    font-size: 1.5rem;
}

table td {
    text-align: center;
    padding:  1rem 3rem;
    border-right: solid 1px #ddd;
    border-left: solid 1px #ddd;
    margin-left: auto;
    margin-right: auto;
}

table td.popular {
    font-weight: bold;
    color: #f34955;
}

.fs1 {
    font-size: 1rem;
    margin-bottom: 0rem;
}

.fs12 {
    font-size: 1.2rem;
}

.bd {
    font-weight: bold;
}